.l-region {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .panel-sidebar-left {
    overflow: hidden;
    *zoom: 1;
    position: relative;
  }

  .l-region--sidebar-left {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 0;
    clear: left;
  }
  .l-region--sidebar-left:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1.16279%;
    width: 23.25581%;
    bottom: 0;
    background: "";
  }

  .l-region--main-column {
    max-width: 50em;
  }

  .with-sidebar-left .l-region--main-column {
    max-width: none;
    width: 75.5814%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-right: 0;
  }
  .with-sidebar-left .l-region--main-column:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 23.25581%;
    width: 75.5814%;
    bottom: 0;
    background: "";
  }

  .l-region--main,
  .l-region--secondary {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    float: left;
  }

  .l-region--below-main-left,
  .l-region--below-secondary-left {
    width: 44.44444%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 0;
    clear: left;
  }

  .l-region--below-main-right,
  .l-region--below-secondary-right {
    width: 44.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-right: 0;
    clear: right;
  }
}
