@import "variables/breakpoints";

.l-header,
.l-navigation,
.l-main,
.l-highlighted,
.l-colophon,
.l-footer {
  max-width: 1004px; // Override default width calculations.
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media #{$mobile-header} {
  .l-header,
  .l-navigation {
    padding: 0;
  }
}

@media #{$desk-only} {

  .l-region--branding {
    width: 17.02128%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
  }

  .l-region--header {
    width: 80.85106%;
    float: right;
    margin-right: 0;
    display: inline;
  }

  .l-region--colophon-first {
    width: 62.5%;
    float: left;
    display: inline;
    padding-right: 6.25%;
  }

  .l-region--colophon-second {
    width: 18.75%;
    float: left;
    display: inline;
    padding-left: 3.75%;
  }

  .l-region--colophon-third {
    width: 18.75%;
    float: right;
    display: inline;
    padding-left: 3.75%;
  }
}
