$mobile-header: "(max-width: 699px)";
$desktop-header: "(min-width: 700px)";

$mobile-vertical-tabs: "(max-width: 480px)";
$desktop-vertical-tabs: "(min-width: 481px)";

// The site lump tablets and desktops into the same breakpoint.
$desktop-only: "(min-width: 768px)";
$mobile-only:  "(max-width: 767px)";
