.mobile-collapsible.is-mobile {
  border: 1px solid $ucla-sky-blue;
  box-sizing: border-box;
  padding-right: 0!important;
  margin-bottom: 1px !important;

  .mobile-collapsible__title,
  .pane-title {
    background-color: $ucla-sky-blue;
    color: $ucla-blue;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 8px;
    font-size: 1em;

    &::after {
      float: right;
      content: '';
      width: 0;
      height: 0;
      margin-top: .7em;
      border-right: .7em solid transparent;
      border-left: .7em solid transparent;
      border-bottom: .7em solid transparent;
      border-top: .7em solid $ucla-blue;
      font-size: 0.7em;
    }

    a {
      color: inherit;
      font-size: 1em;
    }
  }

  .mobile-collapsible__content,
  .pane-content {
    // This stops positioned absilute elements from showing up when the element
    // is closed.
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }
}

@media #{$lap-desk-only} {
  .mobile-collapsible--title-hidden-on-desktop {
    .mobile-collapsible__title,
    .pane-title {
      display:none;
    }
  }
}


.mobile-collapsible.is-mobile.is-open {

  .mobile-collapsible__title::after,
  .pane-title::after {
    margin-top: 0;
    border-right: .7em solid transparent;
    border-left: .7em solid transparent;
    border-top: .7em solid transparent;
    border-bottom: .7em solid $ucla-blue;
  }
  .mobile-collapsible__content,
  .pane-content {
    max-height: 900px;
  }
}


 // Reset title alignment.
.mobile-collapsible.is-mobile {
  .pane-title-inline-wrapper .pane-title {
    display: block;
  }
}

 // Reset border style and whitespace.
.mobile-collapsible.is-mobile.pane-style-border-blue {
  border: 0;
  margin: 0;
  .pane-content {
    border: 0;
    padding: 0;
  }
}

 // Reset pane title alignment.
.mobile-collapsible.is-mobile.pane-title-align-center {
  .pane-title {
    text-align: left;
  }
}
