.pane-staff-department-department-title .uclalib-nav-breadcrumb a {
    font-weight: 400;
}
.panel-pane.pane-views-panes.pane-staff-department-department-title {
    float: left;
}

.pane-bean-staff-directory-gallery

.panel-pane.pane-entity-field.pane-taxonomy-term-field-department-social-links {
    float: right;
}

body.page-staff .panel-sidebar-left .l-region--sidebar-left,
body.section-staff-departments .panel-sidebar-left-golden .l-region--sidebar-left,
/* body.page-node-staff .panel-sidebar-left-golden .l-region--sidebar-left */
{
    padding: 0;
}

.page-taxonomy.page-taxonomy-term .pane-taxonomy-term-field-department-social-links .field__items .field__item {
    float: right;
    padding-right: 3px;
}

.panel-pane.pane-views-panes.pane-staff-pane-staff-dept h2,
.panel-pane.pane-views-panes.pane-staff-staff-loc-list h2,
.panel-pane.pane-views-panes.pane-staff-department-departments h2 {
    margin-top: calc(2rem - 0.142857em);
}