.pane-library-hours-panel-pane-1 {
  padding-top: 30px;
  .views-row {
    border-bottom: 1px solid $border-color;
    margin-bottom: 26px;
    padding-bottom: 30px;
    h2 {
      font-weight: 100;
      margin-top: 0;
    }
    .pane-linked-map,
    .pane-node-field-location-map-image {
      @media (min-width: 900px) {
        float: left;
        margin-right: 16px;
      }
    }
    @media #{$desk-only} {
      .pane-node-field-location-building {
        padding-top: 26px;
      }
    }
    .icon-telephone,
    .icon-email {
      clear: right;
      font-size: 0.875em;
      margin: 10px 0;
    }
    .icon-telephone:before,
    .icon-email:before {
      float: left;
      font-size: 1.429em;
      margin-right: 3px;
      @media #{$palm-only} {
        content: none;
      }
    }
    .panels-flexible-region-last {
      padding-top: 24px;
    }
  }
  .views-row-last {
    border-bottom: none;
  }
  @media #{$palm-lap-only} {
    .panels-flexible-region-first {
      text-align: center;
    }
    .views-row {
      margin-left: -20px;
      margin-right: -20px;
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      padding-left: 20px;
      padding-right: 20px;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}
