.pane-news-search-news-search {
  margin-top: 1em;
  .views-row {
    border-bottom: 1px solid $border-color;
    display: table;
    margin-bottom: 30px;
    padding-bottom: 27px;
    width: 100%;
    h3 {
      margin: 0 0 0.4em;
    }
    p {
      margin: 0;
    }
  }
  .views-row-last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .views-field-field-event-thumbnail {
    max-width: 287px;
    margin: 0 auto;
    text-align: center;
    @media #{$lap-desk-only} {
      display: table-cell;
      vertical-align: middle;
      width: 30%;
    }
  }
  .views-field-field-event-thumbnail + .views-field {
    padding: 4px 1em;
    text-align: center;
    @media #{$lap-desk-only} {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
  }
}
