.pane-staff-department-department-title .uclalib-nav-breadcrumb a {
    font-weight: 400;
}
.panel-pane.pane-views-panes.pane-staff-department-department-title {
    float: left;
}

.panel-pane.pane-entity-field.pane-taxonomy-term-field-department-social-links {
    float: right;
}

.page-taxonomy.page-taxonomy-term .pane-taxonomy-term-field-department-social-links .field__items .field__item {
    float: right;
    padding-right: 3px;
}

div.panel-pane.pane-views-panes.pane-staff-pane-staff-dept h2 {
    margin-top: calc(2rem - 0.142857em);
}
