// Responsive Staff Profile Overhaul

// Resets & helpers
.staff-profile {
  h4 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: .3em;
    color: #333;
  }
  .field-collection-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .field--type-social-links {
    .field__item {
      display: inline-block;
    }
  }
}

p {
  &.space-below-title {
    padding-bottom: 26px;
  }
  &.space-above-textbox {
    margin-bottom: -12px;
  }
}

// Profile fields
.staff-profile__thumbnail {
  clear: left;
  margin: 10px 0 20px;
  max-width: 340px;
}

.staff-profile__phone,
.staff-profile__email {
  margin: 20px 0;
  font-size: 16px;
}

.staff-profile__location {
  .field__item + .field__item {
    padding-top: 8px;
  }
}

.staff-profile__about--specialty-areas,
.staff-profile__about--area-of-expertise,
.staff-profile__departments {
  .links {
    margin: 0;
    padding: 0 0 0 1.25em;
  }
  .links li + li {
    padding-top: 8px;
  }
}

.staff-profile__departments {
  .links,
  .links li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.staff-profile__social-links {
  li {
    clear: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.staff-profile__librarian-name {
  font-size: 27px;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.staff-profile__librarian-title {
  font-size: 17px;
  color: #333;
}

.staff-profile__about {
  @include clearfix;
}

// Columns
@media #{$desk-only} {
  .staff-profile__column-one {
    float: left;
    width: 28.5%;
    clear: left;
    margin-right: 1.5%
  }
  .staff-profile__column-two {
    text-align: left;
    float: left;
    width: 68.5%;
    margin-left: 1.5%
  }
}

@media #{$lap-desk-only} {
  .staff-profile__about--area-of-expertise {
    float: left;
    width: 47%;
    margin: 0 1.5% 0 0;
  }

  .staff-profile__about--specialty-areas {
    float: left;
    width: 47%;
    margin: 0 0 0 1.5%;
  }
}

.staff-profile__bio {
  p {
    margin-top: 0;
  }
  ul li {
    list-style-type: square;
  }
}

.views-field-field-staff-last-name {
  font-weight: 100;
  padding-top: 15px;
  font-size: 1.1em;
}

.views-field-field-staff-job-title,
.views-field-field-staff-phone {
  font-weight: 100;
}

// collapsible menu
span {
  &#expandAll.links.links, &#collapseAll.links.links.links {
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-left: 15px;
    padding: 0 5px;
    text-transform: uppercase;
  }
}

.node-type-staff-profile {
  #header1.header,
  #header2.header {
    padding: 5px;
    color: $ucla-blue;
    font-size: 16px;
    padding-left: 20px;
  }

  .pane-uclalib-nav .pane-content h2.pane-title a {
    background: $ucla-blue;
    color: #fff;
  }

  .sidebar-tier-2,
  .l-region--sidebar-left .pane-quick-links {
    background: $ucla-lt-gray;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.429em;
    margin: 0 -25px;
    padding: 10px 28px 11px;
  }

  .pane-bean-contact-quick-links {
    background: $ucla-lt-gray;
    line-height: 1.429em;
    padding: 10px 28px 11px;
    font-weight: bold;
    font-size: 14px;
  }

  .pane-bean-at-a-glance-staff-profile {
    background: $sidebar-bg-lt-blue;
    padding: 24px 30px 15px;
    font-weight: bold;
    font-size: 15px;
  }

  .pane-bean-contact-quick-links,
  .pane-bean-at-a-glance-staff-profile {
    @media #{$desk-only} {
      margin: 0 -25px;
    }
  }

  .pane-bean-link-list,
  .pane-bean-contact-quick-links {
    .pane-title {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
